In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('Data/trainData.csv') # creating a dataframe
                                             # for the given csv file

# DATA CLEANING

In [3]:
# now we find the percentage of null/NaN values in the data
rows, columns = train_df.shape # assign the rows and columns variables
cellCount = rows * columns
numberOfNulls = train_df.isnull().sum().sum() # summing the number of missing values
                                              # under each column
percentageOfMissingValues = (numberOfNulls / cellCount) * 100
print(percentageOfMissingValues)

0.05940074452777849

## Clearly, we see that a very small percentage of the entire dataset is missing or having
## a NaN value. This means that we can drop the rows which contain missing values without
## affecting the dataset much

In [4]:
# remove all the rows containing NaN/missing values
train_df = train_df.dropna()
train_df

,Unnamed: 0,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,0,2013,-37.0,1.0,0.0,4.0,-0.7,102-37,0.0,NNW,4.4
2,2,2013,3.0,1.0,2.0,7.0,-1.1,1023.5,0.0,NNW,5.6
3,3,2013,3.0,1.0,3.0,6.0,-1.4,1024.5,0.0,NW,3.1
4,4,2013,3.0,1.0,4.0,3.0,-2.0,1025.2,0.0,N,2.0
6,6,2013,3.0,1.0,6.0,3.0,-2.6,1026.5,0.0,NNE,2.5
...,...,...,...,...,...,...,...,...,...,...,...
31522,35022,2017,2.0,27.0,6.0,80.0,-0.3,1019.4,0.0,ENE,0.8
31523,35032,2017,2.0,27.0,16.0,75.0,15.9,1014,0.0,SW,2.9
31524,35035,2017,2.0,27.0,19.0,51.0,11.5,1014.1,0.0,SSW,1.0
31525,35042,2017,2.0,28.0,2.0,9.0,8.6,1016,0.0,NNE,0.9
31526,35054,2017,2.0,28.0,14.0,5.0,14.6,1013.3,0.0,N,3.6

In [5]:
train_df.isnull().sum() # verifying if the number of missing values have been dropped

Unnamed: 0        0
year              0
month             0
day               0
hour              0
PM2.5             0
temperature       0
pressure          0
rain              0
wind_direction    0
wind_speed        0
dtype: int64

## Now we need to make sure that each of the data under each column falls under the
## reasonable allowed range or data-type of the corresponding column header
## For example, we need to make sure that year or months or days must not have any other
## values except for positive integers

In [6]:
train_df.dtypes # to see the overview of the datatypes under each column right now

Unnamed: 0          int64
year               object
month             float64
day               float64
hour              float64
PM2.5             float64
temperature       float64
pressure           object
rain              float64
wind_direction     object
wind_speed        float64
dtype: object

## We see that 'year' has a data type of object while it should have been int64
## And similarly for 'month', 'day', 'pressure' and so on...
## Now if the column has anomalous values we replce it by either the mean or median
## of that corresponding column.
## If the column has no anomalous values but the data type set is wrong, we set it
## with the right data type.

In [7]:
# setting the serial number as unsigned int
train_df['Unnamed: 0'] = train_df['Unnamed: 0'].astype(np.unsignedinteger)


train_df['year'] = train_df['year'].astype(np.unsignedinteger) # setting it as
                                                               # unsigned int
replacementValue = train_df['year'].median()
# first using mask() function to mark the changes for only the column being considered
train_df.year = train_df.year.mask(train_df.year.lt(0), replacementValue)
train_df['year'] = train_df['year'].astype(np.unsignedinteger) # re-setting to uint

# for "month"
replacementValue = train_df['month'].median()
train_df.month = train_df.month.mask(train_df.month.lt(0), replacementValue)
train_df['month'] = train_df['month'].astype(np.unsignedinteger)

# for "day"
replacementValue = train_df['day'].median()
train_df.day = train_df.day.mask(train_df.day.lt(0), replacementValue)
train_df['day'] = train_df['day'].astype(np.unsignedinteger)

# for "hour"
replacementValue = train_df['hour'].median()
train_df.hour = train_df.hour.mask(train_df.hour.lt(0), replacementValue)
train_df['hour'] = train_df['hour'].astype(np.unsignedinteger)

In [8]:
print(train_df.dtypes)
train_df

Unnamed: 0         uint32
year               uint32
month              uint32
day                uint32
hour               uint32
PM2.5             float64
temperature       float64
pressure           object
rain              float64
wind_direction     object
wind_speed        float64
dtype: object

,Unnamed: 0,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,0,2013,6,1,0,4.0,-0.7,102-37,0.0,NNW,4.4
2,2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6
3,3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1
4,4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0
6,6,2013,3,1,6,3.0,-2.6,1026.5,0.0,NNE,2.5
...,...,...,...,...,...,...,...,...,...,...,...
31522,35022,2017,2,27,6,80.0,-0.3,1019.4,0.0,ENE,0.8
31523,35032,2017,2,27,16,75.0,15.9,1014,0.0,SW,2.9
31524,35035,2017,2,27,19,51.0,11.5,1014.1,0.0,SSW,1.0
31525,35042,2017,2,28,2,9.0,8.6,1016,0.0,NNE,0.9
31526,35054,2017,2,28,14,5.0,14.6,1013.3,0.0,N,3.6

In [9]:
train_df['pressure'] = train_df['pressure'].astype(np.float64)

ValueError: could not convert string to float: '102-37'

## We see here that under the "presure" column, only one entry is in string data type.
## So we shall replace it by the median under the column

In [10]:
train_df.at[0, "pressure"] = 0 # converting all data to float type first
train_df['pressure'] = train_df['pressure'].astype(np.float64) # setting the data type
                                                               # of column to float
train_df.at[0, "pressure"] = train_df['pressure'].median() # replaceing by median

In [11]:
train_df.dtypes

Unnamed: 0         uint32
year               uint32
month              uint32
day                uint32
hour               uint32
PM2.5             float64
temperature       float64
pressure          float64
rain              float64
wind_direction     object
wind_speed        float64
dtype: object

## All the data types of the corresponding columns are correct now.

In [12]:
# We rename the column "Unnamed: 0" to "Train_SerialNo"
train_df = train_df.rename(columns={"Unnamed: 0":"Train_SerialNo"})

In [13]:
train_df

,Train_SerialNo,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,0,2013,6,1,0,4.0,-0.7,1010.2,0.0,NNW,4.4
2,2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6
3,3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1
4,4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0
6,6,2013,3,1,6,3.0,-2.6,1026.5,0.0,NNE,2.5
...,...,...,...,...,...,...,...,...,...,...,...
31522,35022,2017,2,27,6,80.0,-0.3,1019.4,0.0,ENE,0.8
31523,35032,2017,2,27,16,75.0,15.9,1014.0,0.0,SW,2.9
31524,35035,2017,2,27,19,51.0,11.5,1014.1,0.0,SSW,1.0
31525,35042,2017,2,28,2,9.0,8.6,1016.0,0.0,NNE,0.9
31526,35054,2017,2,28,14,5.0,14.6,1013.3,0.0,N,3.6

# DATA DESCRIPTION

In [14]:
# Describing the data frame using describe() function
print(train_df.info())
train_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31371 entries, 0 to 31526
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Train_SerialNo  31371 non-null  uint32
 1   year            31371 non-null  uint32
 2   month           31371 non-null  uint32
 3   day             31371 non-null  uint32
 4   hour            31371 non-null  uint32
 5   PM2.5           31371 non-null  float64
 6   temperature     31371 non-null  float64
 7   pressure        31371 non-null  float64
 8   rain            31371 non-null  float64
 9   wind_direction  31371 non-null  object
 10  wind_speed      31371 non-null  float64
dtypes: float64(5), object(1), uint32(5)
memory usage: 3.3+ MB
None

,Train_SerialNo,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_speed
count,31371.000000,31371.000000,31371.000000,31371.000000,31371.000000,3.137100e+04,31371.000000,31371.000000,31371.000000,31371.000000
mean,16178.610755,2014.514297,6.459851,15.600140,11.496796,2.104622e+03,14.387083,1010.778671,0.072070,1.697453
std,9502.039336,1.103683,3.306036,8.787122,6.931323,3.583169e+05,11.293124,38.948955,0.951885,1.337735
min,0.000000,2013.000000,1.000000,1.000000,0.000000,3.000000e+00,-16.800000,-5646.000000,0.000000,-79.000000
25%,7885.500000,2014.000000,4.000000,8.000000,5.000000,2.300000e+01,4.400000,1002.700000,0.000000,0.900000
50%,16257.000000,2015.000000,6.000000,15.000000,11.000000,5.800000e+01,15.900000,1010.200000,0.000000,1.400000
75%,24324.500000,2015.000000,9.000000,23.000000,18.000000,1.120000e+02,23.700000,1019.000000,0.000000,2.200000
max,35054.000000,2017.000000,12.000000,31.000000,23.000000,6.346466e+07,40.500000,1042.000000,72.500000,11.200000

In [15]:
# Most frequent values (mode) under each column
print("\nThe mode values are :-\n")
(train_df.mode())

The mode values are :-

,Train_SerialNo,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,0,2015,5,5,2,9.0,3.0,1019.0,0.0,NE,1.2

In [16]:
# Mean value under each column
print("\nThe mean values are :-\n")
train_df.mean()

The mean values are :-

Train_SerialNo    16178.610755
year               2014.514297
month                 6.459851
day                  15.600140
hour                 11.496796
PM2.5              2104.621985
temperature          14.387083
pressure           1010.778671
rain                  0.072070
wind_speed            1.697453
dtype: float64

In [17]:
# Median values under each column
print("\nThe median values are :-\n")
train_df.median()

The median values are :-

Train_SerialNo    16257.0
year               2015.0
month                 6.0
day                  15.0
hour                 11.0
PM2.5                58.0
temperature          15.9
pressure           1010.2
rain                  0.0
wind_speed            1.4
dtype: float64